<h1>Listing Clients:</h1>
<% @apath = [:admin]%>
<%= render "/admin/breadcrumb" %>

<div class="list">
<% @clients.each do |client| %>
  <div class="list-row">
    <div class="list-item"><%= client.name %></div>
    <div class="list-item-links">
      <%= link_to 'Show', admin_client_path(client) %> |
      <%= link_to 'Edit', edit_admin_client_path(client) %> |
      <%= link_to 'Destroy', [:admin, client], :confirm => 'Are you sure?', :method => :delete %>
    </div>
  </div>
<% end %>
</div>
<br />
<%= link_to 'New Client', new_admin_client_path %>

