<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @client.name %>
</p>

<p>
  <b>Description:</b>
  <%= @client.description %>
</p>

<%= link_to 'Videos', [:admin, @client, :videos] %> |

<%= link_to 'Edit', [:edit, :admin, @client] %> |
<%= link_to 'Back', admin_clients_path %>

