<p><%= raw @video.embed_code%></p>

<p><b><%= @video.title %></b></p>
<p><b>Description of intent:</b> <%= @video.description %></p>

<p>
<div>Client: <b><%= @video.client.name %></b></div>
<div>Agency: <b><%= @video.agency %></b></div>
<div>Producer: <b><%= @video.producer %></b></div>
</p>
