<p><%= raw @video.embed_code%></p>

<p><span class="mdstrong"><%= @video.title %></span></p>
<p><span class="mdstrong">Description of intent:</span> <%= raw @video.description %></p>

<p>
<div>Client: <span class="mdstrong"><%= @video.client.name %></span></div>
<div>Agency: <span class="mdstrong"><%= @video.agency %></span></div>
<div>Producer: <span class="mdstrong"><%= @video.producer %></span></div>
</p>
