<% @projects.each do |project| %>

  <div class="project-heading"><%= project.name %></div>
  <div class="project-desc"><%= project.desc %></div>

  <% project.releases.order("release_date DESC").each do |release| %>

    <div class="release-area">
      <div class="release-heading"><%= release.name %></div>
      <div class="tracks-area">
      <% release.tracks.order("number ASC").each do |track| %>
        <%= render :partial => "track", :locals => { :track => track } %>
      <% end %>
      </div>
      <% if release.buylinks.count > 0 %>
        <div class="purchase-text">Purchase this Release At:</div>
        <% release.buylinks.order("name ASC").each do |buylink| %>
          <div class="buylink-name">&bull; <%= link_to buylink.name, buylink.url, :target => '_blank' %></div>
        <% end %>
      <% end %>
      <% if not release.cover_image.empty? %>
        <div class="cover-image-area"><%= image_tag release.cover_image %></div>
      <% end %>
    </div>
  <% end %>
  <div style="clear:both;"></div>

  <div>&nbsp;</div>

<% end %>

<script><%= render "discog.js" %></script>

