<h1>Listing Projects:</h1>

<div class="list">
<% @projects.each do |project| %>
  <div class="list-row">
    <div class="list-item"><%= project.name %></div>
    <div class="list-item-links">
      <%= link_to 'Show', admin_project_path(project) %> |
      <%= link_to 'Edit', edit_admin_project_path(project) %> |
      <%= link_to 'Destroy', [:admin, project], :confirm => 'Are you sure?', :method => :delete %>
    </div>
  </div>
<% end %>
</div>
<br />
<%= link_to 'New Project', new_admin_project_path %>

