<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.desc %>
</p>

<%= link_to 'Releases', [:admin, @project, :releases] %> |

<%= link_to 'Edit', [:edit, :admin, @project] %> |
<%= link_to 'Back', admin_project_path %>

