<p id="notice"><%= notice %></p>

<%= render "project" %>

<%= link_to 'Releases', [:admin, @project, :releases] %> |
<%= link_to 'Edit', [:edit, :admin, @project] %> |
<%= link_to 'Back', admin_projects_path %>

