<h1>Listing Contacts:</h1>

<div class="list">
<% @contacts.each do |contact| %>
  <div class="list-row">
    <div class="list-item">
      <%= contact.bio %><br /><br />
      <%= contact.phone %><br />
      <%= contact.email %>
    </div>
    <div class="list-item-links">
      <%= link_to 'Show', admin_contact_path(contact) %> |
      <%= link_to 'Edit', edit_admin_contact_path(contact) %> |
      <%= link_to 'Destroy', [:admin, contact], :confirm => 'Are you sure?', :method => :delete %>
    </div>
  </div>
<% end %>
<br />
<%= link_to 'New Contact', new_admin_contact_path %>
