<%= form_for([:admin, @video_group, @video]) do |f| %>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :embed_code %><br />
    <%= f.text_area :embed_code %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :agency %><br />
    <%= f.text_field :agency %>
  </div>
  <div class="field">
    <%= f.label :producer %><br />
    <%= f.text_field :producer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
