<h1>Listing videos for <%= @video_group.name %></h1>

<table>
  <tr>
    <th>Url</th>
    <th>Title</th>
    <th>Description</th>
    <th>Agency</th>
    <th>Producer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @videos.each do |video| %>
  <tr>
    <td><%= video.url %></td>
    <td><%= video.title %></td>
    <td><%= video.description %></td>
    <td><%= video.agency %></td>
    <td><%= video.producer %></td>
    <td><%= link_to 'Show', [:admin, @video_group, video] %></td>
    <td><%= link_to 'Edit', [:edit, :admin, @video_group, video] %></td>
    <td><%= link_to 'Destroy', [:admin, @video_group, video], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Add New', [:new, :admin, @video_group, :video] %>
<%= link_to 'Back to Video Group', [:admin, @video_group]%>

